.withdrawal-form {
    display: flex;
    flex-direction: column;
    .el-input-group__prepend {
        min-width: 200px;
    }
    .withdrawal-button {
        margin-left: auto;
    }
}

.address-input {
    text-align: center;
    margin-bottom: 20px;
}