<template>
    <div class="console">
        <div class="log-wrapper" ref="console" @scroll="onScroll">
            <template v-for="log in logs" :key="log">
                <div class="log-string">
                    {{ moment(log.timestamp).format('HH:mm:ss') }} => {{ log.string }}
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import socket from '../../sockets';

export default {
    name: "PlotsStatus",
    props: {
        plotId: {
            type: String,
            default: ''
        },
        queue: {
            type: String,
            default: null,
        }
    },
    data() {
        return {
            logs: [],

            manualScroll: false,
            scrollPosition: 0,
        }
    },
    computed: {
        moment() {
            return moment;
        }
    },
    methods: {
        onScroll(event) {
            if (event.target.scrollTop < this.scrollPosition) {
                this.manualScroll = true;
            } else if (event.target.scrollTop >= this.$refs.console.scrollHeight - 2000) {
                this.manualScroll = false;
            }
        },
        scrollLogs() {
            if (!this.manualScroll) {
                setTimeout(() => {
                    this.$refs.console.scrollTop = this.$refs.console.scrollHeight;
                    this.scrollPosition = this.$refs.console.scrollTop;
                }, 30);
            }
        },
        setLogs(log) {
            this.logs.push(log);
            this.scrollLogs();
        },

        async getLogs() {
            try {
                let resp = await this.axios.post('/api/harvester/get-creating-plot-logs', {
                    plotId: this.plotId,
                    queueName: this.queue
                })

                this.logs = resp.data.answer.logs;
                this.scrollLogs();
            } catch(e) {
                console.error(e);
            }
        }
    },
    async mounted() {
        await this.getLogs();
        socket.on(`plot-${this.plotId}`, this.setLogs);
    },
    unmounted() {
        this.logs = [];
        socket.off(`plot-${this.plotId}`);
    }
}
</script>
