<template>
    <el-container direction="vertical" class="plots-container">
        <el-row>
            <el-col :span="24" class="button-wrapper">
                <el-button class="add-folder" type="primary" @click="showModal('folderModal')" plain>
                    <i class="el-icon-folder-add" /> Add Plot Directory
                </el-button>
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        <div class="folder-title">Plots directories</div>
                        <div class="folder-subtitle">after adding a directory, the process of processing plots can take more than 10 minutes.</div>
                    </template>
                    <el-table :data="tableDirectories" :show-header="false">
                        <el-table-column prop="path"/>
                        <el-table-column width="80px">
                            <template #default="scope">
                                <el-button type="warning" plain circle @click="showModal('deleteModal', scope.row.path)">
                                    <i class="el-icon-delete"/>
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>
        <!--add modal-->
        <el-dialog v-model="folderModal" title="Add a plot directory" center>
            <el-form @submit.prevent="addPlotDirectory">
                <el-form-item label="This allows you to add a directory that has plots in it.">
                    <el-input v-model="folderModalPath" />
                </el-form-item>
            </el-form>
            <template #footer>
                <el-button type="primary" plain @click="addPlotDirectory">Add a plot directory</el-button>
                <el-button type="info" plain @click="closeModal('folderModal')">Close</el-button>
            </template>
        </el-dialog>
        <!--remove modal-->
        <el-dialog v-model="deleteModal" title="Are you sure you want to delete this directory:" center>
            <div class="path">
                {{ deleteModalPath }}
            </div>
            <template #footer>
                <el-button type="warning" plain @click="removePlotDirectory">Remove folder</el-button>
                <el-button type="info" plain @click="closeModal('deleteModal')">Cancel</el-button>
            </template>
        </el-dialog>
    </el-container>
</template>

<script>

import ElNotification from "element-plus/lib/el-notification";
import ElLoading from 'element-plus/lib/el-loading';

export default {
    name: "PlotsDirectories",
    data() {
        return {
            tableDirectories: [],
            folderModal: false,
            deleteModal: false,
            folderModalPath: '',
            deleteModalPath: '',
        }
    },
    methods: {
        // modal control
        showModal(modal, path = '') {
            this[modal] = true;
            this[`${modal}Path`] = path;
        },
        closeModal(modal) {
            this[modal] = false;
            this[`${modal}Path`] = '';
        },

        async getDirectories() {
            try {
                let resp = await this.axios.get('/api/harvester/get-plots-directories');
                if (resp.data.success) {
                  this.tableDirectories = resp.data.answer.directories.map( item => ({ path: item }));
                  this.loading.close();
                } else if (resp.data.harvesterNotWorking) {
                  setTimeout(() => {
                    this.getDirectories();
                  }, 2000);
                }
            } catch(error) {
                console.error(error);
            }
        },
        async addPlotDirectory() {
            try {
                let resp = await this.axios.post('/api/harvester/add-plots-directory', {
                    path: this.folderModalPath
                });
                if (resp.data.success) {
                    this.folderModal = false;
                    this.folderModalPath = '';
                    ElNotification.success({
                        title: 'Success',
                        message: 'Directory was added',
                    })
                    await this.getDirectories()
                } else {
                    ElNotification.error({
                        title: 'Error',
                        message: "Couldn't add a plot directory",
                    })
                }
            } catch(error) {
                console.error(error);
            }
        },
        async removePlotDirectory() {
            try {
                let resp = await this.axios.post('/api/harvester/remove-plots-directory', {
                    path: this.deleteModalPath
                });
                if (resp.data.success) {
                    this.deleteModal = false;
                    this.deleteModalPath = '';
                    ElNotification.success({
                        title: 'Success',
                        message: 'Directory was removed',
                    })

                    await this.getDirectories();
                } else {
                    ElNotification.error({
                        title: 'Error',
                        message: "Couldn't remove a plot directory",
                    })
                }
            } catch(error) {
                console.error(error);
            }
        },

    },
    mounted() {
        this.loading = ElLoading.service({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
        });
        this.getDirectories();
    }
}
</script>

