<template>
    <el-container direction="vertical">
        <el-row>
            <el-col>
                <el-card>
                    <template #header>
                        <div>Your Farm Overview</div>
                    </template>
                    <el-table :data="plots">
                        <el-table-column prop="index" label="index" width="65"/>
                        <el-table-column prop="kSize" label="K-size" width="150"/>
                        <el-table-column prop="filename" label="File Name" />
                        <el-table-column prop="plotSize" label="File Size" width="150"/>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>

        <el-row class="mt-20">
            <el-col>
                <el-card>
                    <template #header>
                        <div>Invalid plots</div>
                    </template>
                    <el-table :data="badPlots">
                        <el-table-column prop="path" label="Path to plots"/>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>
    </el-container>
</template>

<script>

import iecMetricsMixin from '../mixins/iec-metrics';

export default {
    name: "Farm",
    mixins: [
        iecMetricsMixin
    ],
    data () {
        return {
            plots: [],
            badPlots: [],
        }
    },
    methods: {
        async getFarmData() {
            try {
                let resp = await this.axios.get('/api/harvester/farm');
                if(resp.data.success) {
                    this.plots = resp.data.answer.plots.map((item, idx) => {
                        return {
                            index: idx + 1,
                            plotSize: this.getIecValue(item.fileSize),
                            filename: item.filename,
                            kSize: item.size,
                        }
                    })
                    this.badPlots = resp.data.answer.badPlots.map(item => {
                        return {path: item}
                    });
                }
            } catch(e) {
                console.log(e);
            }
        }
    },
    async mounted() {
        await this.getFarmData();
    }
}
</script>
