<template>
    <el-container direction="vertical" class="plots-container">
        <el-row>
            <el-col :span="18">
                <div class="tag-wrapper">
                    <el-tag type="primary" size="small" effect="plain" @click="copy(POOL_KEYS.pool)">
                        Pool key: {{ POOL_KEYS.pool }}
                    </el-tag>
                    <el-tag type="primary" size="small" effect="plain" @click="copy(POOL_KEYS.farmer)">
                        Farmer key: {{ POOL_KEYS.farmer }}
                    </el-tag>
                </div>
            </el-col>
            <el-col :span="6" class="button-wrapper">
                <el-button type="primary" plain @click="addPlots">
                    <i class="el-icon-plus" /> Create plot
                </el-button>
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        Plotting Queue
                    </template>
                    <el-table :data="tableData"
                              stripe
                              :highlight-current-row="true"
                              size="medium"
                    >
                        <el-table-column type="index" label="Index" width="60" align="center" />
                        <el-table-column prop="size" label="K-Size" width="100" center />
                        <el-table-column prop="queue" label="Queue Name" width="150" center />
                        <el-table-column prop="name" label="File Path" />
                        <el-table-column prop="status" label="Status" width="150">
                            <template #default="scope">
                                {{ scope.row.status ? 'plotting' : 'waiting' }}
                            </template>
                        </el-table-column>
                        <el-table-column label="Actions" width="150" align="center">
                            <template #default="scope">
                                <div class="button-wrapper-center">
                                    <el-button circle type="primary"
                                               :disabled="!scope.row.status"
                                               plain @click="showLogModal(scope.row.id, scope.row.queue)">
                                        <i class="el-icon-data-analysis" />
                                    </el-button>
                                    <el-button circle type="warning" plain
                                               @click="showModal(scope.row.id, scope.row.queue)">
                                        <i class="el-icon-delete delete"/>
                                    </el-button>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>

        <!--delete plot-->
        <el-dialog
            v-model="deleteModal"
            width="50%"
            center >
            <template #title>
                <span class="removing-title">Removing plot</span>
            </template>
            <div class="removing-text">
                Are you sure you want to delete this plot?
                <br/>
                This action cannot be undone.
            </div>
            <template #footer>
                <el-button type="primary" plain @click="deletePlot">Delete plot</el-button>
                <el-button type="info" plain @click="closeModal()">Close</el-button>
            </template>
        </el-dialog>
        <!--plot status-->
        <el-dialog v-model="plotLogs" width="80%" center title="View Log">
            <plots-status v-if="plotLogs" :plot-id="plotId" :queue="plotQueue" />
        </el-dialog>

    </el-container>
</template>

<script>
// components
import plotsStatus from '../components/plots/PlotsStatus';
// utils & variables
import ElNotification from 'element-plus/lib/el-notification';
import socket from '../sockets';

export default {
    name: "Plotting",
    data() {
        return {
            deleteModal: false,
            tableData: [],

            plotLogs: false,
            plotId: null,
            plotQueue: null,

            removingPlot: null,
            removingQueue: null,
        }
    },
    methods: {
        copy(data) {
            navigator.clipboard.writeText(data)
            .then(() => {
                ElNotification.success({
                    title: 'Success',
                    message: 'Data was copies'
                })
            })
        },
        // delete modal
        showModal(id, queue) {
            this.deleteModal = true;
            this.removingPlot = id;
            this.removingQueue = queue;
        },
        closeModal() {
            this.deleteModal = false;
            this.removingPlot = null;
            this.removingQueue = null;
        },

        // log modal
        showLogModal(id, queue) {
            this.plotLogs = true;
            this.plotId = id;
            this.plotQueue = queue
        },
        closeLogModal() {
            this.plotLogs = false;
            this.plotId = null;
            this.plotQueue = null;
        },

        addPlots() {
            this.$router.push('/plots/create');
        },

        async getTablePlots() {
            try {
                let resp = await this.axios.get('/api/harvester/get-creating-plots');

                if(resp.data.success) {
                    const queueNames = Object.keys(resp.data.answer.queues);
                    const queues = resp.data.answer.queues;
                    let tableData = [];

                    queueNames.forEach(queueName => {
                        queues[queueName].reverse().forEach(plot => {
                            tableData.push({
                                name: plot.options.persistentFolder,
                                size: plot.options.size,
                                queue: queueName,
                                status: plot.starting,
                                id: plot.id
                            })
                        })
                    })

                    this.tableData = tableData;
                } else {
                    ElNotification.error({
                        title: 'Error',
                        message: resp.data.answer || 'Error is occurred, try later'
                    })
                }
            } catch(e) {
                ElNotification.error({
                    title: 'Error',
                    message: e.message || 'Error is occurred, try later'
                })
            }
        },
        async deletePlot() {
            try {
                let resp = await this.axios.post('/api/harvester/remove-plot', {
                    plotId: this.removingPlot,
                    queueName: this.removingQueue
                });

                if(resp.data.success) {
                    this.closeModal();
                    await this.getTablePlots()
                    ElNotification.success({
                        title: 'Success',
                        message: 'Plot was successfully deleted'
                    })
                } else {
                    ElNotification.error({
                        title: 'Error',
                        message: resp.data.answer || 'Error is occurred, try later'
                    })
                }
            } catch(e) {
                ElNotification.error({
                    title: 'Error',
                    message: e.message || 'Error is occurred, try later'
                })
            }
        }
    },
    computed: {
        POOL_KEYS () {
            return CONFIG.poolKeys;
        }
    },
    async mounted() {
        await this.getTablePlots();
        socket.on('plot-complete', this.getTablePlots);

    },
    unmounted() {
        socket.off('plot-complete');
    },
    components: {
        plotsStatus
    }
}

</script>
