<template>
    <el-container direction="vertical">
        <el-row>
            <el-col :span="24">
                <el-card>
                    <template #header>
                        Wallet
                    </template>
                    <el-form class="withdrawal-form">
                        <el-form-item>
                            <el-input placeholder="Chia Address To Withdraw amount" v-model="xchAddress">
                                <template #prepend>XCH address to withdraw</template>
                            </el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-input v-model="amount">
                                <template #prepend>Amount to withdraw</template>
                                <template #append>
                                    <el-button @click="onClickAll">All</el-button>
                                </template>
                            </el-input>
                        </el-form-item>
                        <el-button class="withdrawal-button" @click="onClickWithdraw" icon="el-icon-upload2">
                            Withdraw
                        </el-button>
                    </el-form>
                </el-card>
            </el-col>
        </el-row>
        <el-dialog
            title="Withdraw confirmation"
            v-model="showConfirmation"
            center>
            <div class="address-input">Type your password to confirm your withdraw:</div>
            <el-input placeholder="Type your password" v-model="password" type="password">
            </el-input>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="onClickOkWithdraw">Confirm</el-button>
                    <el-button @click="onClickCancelWithdraw">Cancel</el-button>
                </span>
            </template>
        </el-dialog>
    </el-container>
</template>

<script>

import ElLoading from "element-plus/lib/el-loading";
import ElNotification from "element-plus/lib/el-notification";

export default {
    name: "Wallet",
    data() {
        return {
            xchAddress: "",
            amount: 0,
            showConfirmation: false,
            password: ""
        }
    },
    computed: {
        userBalance() {
            return (Number(this.$store.getters['user/getBalance'])).toFixed(16);
        }
    },
    methods:   {
        onClickAll() {
            this.amount = +(+this.userBalance).toFixed(10);
        },
        onClickWithdraw() {
            this.showConfirmation = true;
            this.password = "";
        },
        onClickCancelWithdraw() {
            this.showConfirmation = false;
        },
        async onClickOkWithdraw() {
            let loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            try {
                let resp = await this.axios.post('/api/user/make-withdraw', {
                    amount: this.amount,
                    xchAddress: this.xchAddress,
                    password: this.password,
                    timestamp: Date.now()
                })

                if (resp.data.success) {
                    this.showConfirmation = false;
                    this.amount = 0;
                    this.xchAddress = "";
                    this.password = "";

                    this.$store.commit('user/setBalance', resp.data.answer.userBalance);

                    ElNotification.success({
                        title: 'Success',
                        message: 'Withdraw has been successfully created and will be processed in 4 hours',
                        type: 'success'
                    });
                } else {
                    ElNotification.error({
                        title: "Error",
                        message: resp.data.answer.error || resp.data.answer
                    });
                }
            } catch(error) {
                console.error(error);
            }

            loading.close();
        }
    },
    async mounted() {
        try {
            let balance = await this.axios.get('/api/user/balance')
            if (balance.data.success) {
                this.$store.commit('user/setBalance', balance.data.answer.amount);
            } else {
                console.error('some error has occured');
            }
        } catch(e) {
            console.error(e);
        }
    }
}
</script>

