<template>
    <el-card>
        <template #header class="card-header">
            Challenge response time
        </template>
        <vue3-chart-js
            class="line-chart"
            ref="chartRef"
            :id="lineChart.id"
            :type="lineChart.type"
            :data="lineChart.data"
            :options="lineChart.options"/>
    </el-card>

</template>

<script>
// components
import Vue3ChartJs from '@j-t-mcc/vue3-chartjs';
// utils
import { ref } from 'vue';
import socket from '../../sockets';
import moment from 'moment';

moment.locale('en');

export default {
    name: "plotsTimeChart",
    setup () {
        const chartRef = ref(null);

        const lineChart = {
            id: 'plotsTimeChart',
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'plots check time',
                    data: [],
                    borderColor: '#409EFF',
                    borderWidth: 2,
                    pointBackgroundColor: '#FFFFFF',
                    pointBorderColor: '#409EFF',
                    pointBorderWidth: 2,
                    pointRadius: 0
                }],
            },
            options: {
                interaction: {
                    intersect: false,
                    mode: 'x'
                },
                animation: false,
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: false,
                        displayColors: false,
                        callbacks: {
                            title: function(value) {
                                return moment(Number(value[0].label)).format('HH:mm:ss');
                            },
                            label: function(value) {
                                return `${value.formattedValue} s`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 10,
                            callback: function(value) {
                                return getXlabel(value);
                            }
                        }
                    },
                    y: {
                        min: 0,
                        ticks: {
                            callback: function(value) {
                                return `${value} s`;
                            }
                        }
                    }
                }
            }
        }

        let socketData = [];
        // http
        const updateChart = (payload) => {
            socketData = payload.reverse();
            lineChart.data.labels = socketData.map(item => item.timestamp);
            lineChart.data.datasets = [{
                data: socketData.map(item => item.time),
                borderColor: '#409EFF',
                borderWidth: 2,
                pointBackgroundColor: '#FFFFFF',
                pointBorderColor: '#409EFF',
                pointBorderWidth: 2,
                pointRadius: 0,
            }]

            chartRef.value.update(250);
        }
        // ws
        const updateChartOnSocket = (payload) => {
            if (socketData.length > 200) {
                socketData.shift()
            }
            socketData.push(payload);

            lineChart.data.labels = socketData.map(item => item.timestamp);
            lineChart.data.datasets = [{
                data: socketData.map(item => item.time),
                borderColor: '#409EFF',
                borderWidth: 2,
                pointBackgroundColor: '#FFFFFF',
                pointBorderColor: '#409EFF',
                pointBorderWidth: 2,
                pointRadius: 0,
            }]

            chartRef.value.update(250);
        }

        const getXlabel = (index) => {
            return moment(socketData[index].timestamp).format('HH:mm:ss')
        }

        return {
            chartRef,
            lineChart,
            socketData,
            updateChart,
            updateChartOnSocket
        }
    },
    methods: {
        async getChartData() {
            try {
                let resp = await this.axios.get('/api/harvester/get-check-plots-history');
                if (resp.data.success) {
                    this.updateChart(resp.data.answer.history);
                }
            } catch(e) {
                console.error(e);
            }
        }
    },
    mounted() {
        this.getChartData();
        socket.on('check-plots', payload => {
            this.updateChartOnSocket(payload)
        })
    },
    unmounted() {
        socket.off('check-plots');
    },
    components: {
        Vue3ChartJs
    }
}
</script>

<style lang="scss">
.el-card {
    .el-card__header{
        min-height: unset;
    }
}
.line-chart {
    width: 100%;
    height: 250px;
}
</style>
