<template>
    <transition name="fade" mode="out-in">
        <Authorized v-if="isAuth"></Authorized>
        <UnAuthorized v-else></UnAuthorized>
    </transition>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Authorized from './layouts/Authorized';
import UnAuthorized from './layouts/UnAuthorized';

import { ElLoading } from 'element-plus';

export default {
    name: 'App',
    computed: {
        ...mapState('user', ['isAuth']),
    },
    async mounted() {
        let loading = ElLoading.service({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
        });
        // проверяем авторизацию
        try {
            let auth = await this.axios.get('/api/check-login')
            if (auth.data.success) {
                this.$store.commit('user/setAuth', true);
                if (auth.data.answer.checkChia) {
                    this.$store.commit('user/setPathStatus', true);
                    this.$router.push('/dashboard');
                } else {
                    this.$store.commit('user/setPathStatus', false);
                    this.$router.push('/request_chia_path');
                }
            } else {
                this.$store.commit('user/setAuth', false);
                this.$store.commit('user/setPathStatus', false);
            }
            loading.close();
        } catch(e) {
            loading.close();
            console.error(e);
        }

        this.fetchNewVersion();
    },
    methods: {
        ...mapMutations('user', [
            'setNewVersion',
            'setBlockVersion'
        ]),
        fetchNewVersion () {
            this.axios.get('/api/gui/get-version')
                .then(resp => {
                    const {
                        data: { success }
                    } = resp;

                    if (!success) {
                        return false;
                    }

                    const {
                        data: {
                            answer: {
                                version,
                                blockVersion
                            }
                        }
                    } = resp;

                    this.setNewVersion(version);
                    this.setBlockVersion(blockVersion);
                })
                .catch(error => {
                    console.error(error);
                });
        }
    },
    components: {
        Authorized,
        UnAuthorized,
    },
}

</script>
