<template>
    <el-container class="authorized-wrapper">
        <sidebar />
        <el-container>
            <el-header v-if="showHeader">
                <ConnectionBtn />
<!--                <PlotsTimeBtn />-->
                <div class="right-side">
                    <el-link
                        class="wallet-link"
                        type="primary"
                        href="https://www.chiaexplorer.com/blockchain/address/xch1vnm000mx4y4z38geynuu479su3k9uy0zulv7lt8gn9326uuuezkq3y5yky"
                        target="_blank"
                    >
                        Pool chia wallet
                    </el-link>
<!--                    <el-button class="gui-button" type="primary" plain size="small" @click="showRestartGuiModal">-->
<!--                        Restart GUI-->
<!--                    </el-button>-->
                    <el-button class="harvester-button" type="primary" plain size="small" @click="showRestartModal">
                        Restart harvester
                    </el-button>
                    <el-button v-if="ID" type="primary" plain size="small" @click="copy(ID)">
                        User ID: {{ ID }}
                    </el-button>
                </div>
            </el-header>
            <el-main>
                <router-view v-slot="{Component}">
                    <transition name="el-fade-in" mode="out-in">
                        <component :is="Component" />
                    </transition>
                </router-view>
            </el-main>
        </el-container>

        <el-dialog
            v-model="restartGuiModal"
            width="50%"
            center
            title="GUI restart"
        >
            <div class="restart-text">
                Are you sure you want to restart the GUI?
            </div>
            <template #footer>
                <el-button type="primary" plain @click="restartGUI">Restart</el-button>
                <el-button type="info" plain @click="closeRestartGuiModal">Close</el-button>
            </template>
        </el-dialog>

        <el-dialog
            v-model="restartModal"
            width="50%"
            center
            title="Harvester restart">
            <div class="restart-text">
                Are you sure you want to restart the harvester?
            </div>
            <template #footer>
                <el-button type="primary" plain @click="restartHarvester">Restart</el-button>
                <el-button type="info" plain @click="closeRestartModal">Close</el-button>
            </template>
        </el-dialog>
    </el-container>
</template>

<script>
// components
import sidebar from '../components/layout/sidebar/sidebar';
import ConnectionBtn from '../components/elements/ConnectionBtn';
// utils & variables
import ElNotification from "element-plus/lib/el-notification";
import ElLoading from "element-plus/lib/el-loading";

// import PlotsTimeBtn from '../components/elements/PlotsTimeBtn';

export default {
    name: 'AuthorizedLayout',
    data() {
        return {
            restartGuiModal: false,
            restartModal: false
        }
    },
    computed: {
        showHeader() {
            return this.$store.getters['user/isPathStatus'];
        },
        ID() {
            return this.$store.getters['user/getID'];
        },
    },
    methods: {
        showRestartGuiModal () {
            this.restartGuiModal = true;
        },
        closeRestartGuiModal () {
            this.restartGuiModal = false;
        },
        showRestartModal() {
            this.restartModal = true;
        },
        closeRestartModal() {
            this.restartModal = false;
        },
        copy(data) {
            navigator.clipboard.writeText(data)
                .then(() => {
                    ElNotification.success({
                        title: 'Success',
                        message: 'Data was copies'
                    });
                })
                .catch(error => {
                    ElNotification.success({
                        title: 'False',
                        message: 'Data not copied'
                    });
                    console.log(error);
                });
        },
        async getUserId() {
            try {
                let resp = await this.axios.get('/api/user/init');
                if (resp.data.success) {
                    this.$store.commit('user/setID', resp.data.answer.id);
                } else {
                    ElNotification.error({
                        title: 'Error',
                        message: resp.data.answer || 'Some error has occurred, try later'
                    })
                }
            } catch(e) {
                console.error(e);
                ElNotification.error({
                    title: 'Error',
                    message: e.message || 'Some error has occurred, try later'
                })
            }
        },
        async restartGUI() {
            this.closeRestartGuiModal();
            let loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            try {
                await this.axios.get('/api/gui/restart');
                loading.close();
                window.location.reload();
            } catch (error) {
                console.error(error);
                ElNotification.error({
                    title: 'Error',
                    message: error.message || 'Error has occurred, try later'
                });
                loading.close();
                this.showRestartGuiModal();
            }
        },
        async restartHarvester() {
            this.closeRestartModal();
            let loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            try {
                let resp = await this.axios.get('/api/harvester/restart');

                if (resp.data.success) {
                    ElNotification.success({
                        title: 'Success',
                        message: 'Harvester was restarted',
                    })
                    window.location.reload();
                } else {
                    ElNotification.error({
                        title: 'Error',
                        message: resp.data.answer || 'Error has occurred, try later'
                    })
                    this.showRestartModal();
                }

                loading.close();
            } catch(e) {
                console.error(e);
                ElNotification.error({
                    title: 'Error',
                    message: e.message || 'Error has occurred, try later'
                });
                loading.close();
                this.showRestartModal();
            }
        }
    },
    mounted() {
        this.getUserId();
    },
    components: {
        sidebar,
        ConnectionBtn,
        // PlotsTimeBtn,
    }
}

</script>
